@model BSFP.Areas.Identity.Data.CustomUser
@{ ViewData["Title"] = "Account verwijderen"; }
<header class="intro bg-image">
    <div class="overlay"></div>
    <div class="intro-content">
        <div class="container">
            <h1>Members</h1>
        </div>
    </div>

</header>

<main role="main" class="flex-shrink-0" style="border-top: 6px solid #147e9e">
    <section class="container py-4">
        <h4>Account Verwijderen</h4>
        <hr />
        <p>Het account @Model.VolledigeNaam verwijderen?</p>

        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a class="btn btn-primary" style="background-color: #1C3153; border: 1px solid #147e9e;color: white; margin-bottom: 5px" asp-action="Index">Annuleren</a>
        </form>
    </section>
</main>
