@{
    ViewData["Title"] = "Email Bevestigd!";
}

<header class="intro bg-image">
    <div class="overlay"></div>
    <div class="intro-content">
        <div class="container">
            <h1>@ViewData["Title"]</h1>
        </div>
    </div>

</header>


<main role="main" class="flex-shrink-0" style="border-top: 6px solid #147e9e">
    <section class="container py-4">
       
        <h2>Bedankt voor het bevestigen van uw e-mail!</h2>
        <br />
        <a class="btn btn-primary" asp-area="Identity" asp-page="/Account/Login">Login</a>

    </section>
</main>

