<header class="intro bg-image">
    <div class="overlay"></div>
    <div class="intro-content">
        <div class="container">
            <h1>Contact</h1>
        </div>
    </div>

</header>

<main role="main" class="flex-shrink-0" style="border-top: 6px solid #147e9e">
    <section id="office-info" class="container py-4">
        <div class="row mt-4">
            <div class="col-lg-7 col-md-6 col-12 mb-4" id="contact-image-1">
                <div class="h-100"></div>
            </div>
            <div class="col-lg-4 col-md-6 col-12 mb-2 text-center text-md-left pl-md-5">
                <h3>Adres</h3>
                <p>
                    Maastrichtersteenweg 308<br>B-3500 Hasselt<br>
                    <a target="_blank" href="https://goo.gl/maps/pfX2oGuQCNTKpWKXA">
                        Toon op kaart <i class="fas fa-external-link-alt"></i>
                    </a>
                </p>
                <div class="tel-fix">
                    <h3>Telefoonnummer</h3>
                    <p><a href="tel:+320472667299">+32.(0)472.66.72.99</a></p>
                </div>
                <h3>BTW-nummer</h3>
                <p>BE40.7352.2302.0263</p>
                <h3>E-mail</h3>
                <p><a href="mailto:bsfp.be@gmail.com">bsfp.be@gmail.com</a></p>
            </div>
        </div>
    </section>
    <div id="maps">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2514.84753788905!2d5.363505615909055!3d50.926537260826386!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c121a6baa283bb%3A0xd57d0e246e31fcbe!2sMaastrichtersteenweg%20308%2C%203500%20Hasselt!5e0!3m2!1snl!2sbe!4v1616703711945!5m2!1snl!2sbe"
                width="600" height="450" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
</main>