<header class="intro bg-image">
    <div class="overlay"></div>
    <div class="intro-content">
        <div class="container">
            <h1>Het Friese paard</h1>
        </div>
    </div>

</header>

<main role="main" class="flex-shrink-0" style="border-top: 6px solid #147e9e">
    <section class="container py-4">
        <div class="row mt-sm-3">
            <div class="col-12">
                <img src="~/Images/friesen.jpg" class="mx-auto d-block mb-4" style="width:95%" alt="">
                <p>
                    Het Friese paard is het enige inlandse paardenras van Nederland, reeds in de 13e eeuw was het Friese type bekend. Door een consequent fokbeleid
                    vertoont het Friese paard zoals we dat nu kennen, nog steeds de specifieke raseigenschappen en daardoor overeenkomsten met zijn verre voorouders.
                    Kenmerkend voor de zwarte parels zijn het front, royale behang, zwarte kleur en ruime, krachtige, verheven gangen. De harmonieuze bouw en het edele hoofd,
                    geplaatst op een lichtgebogen hals, volmaken de luxe en fiere verschijning. Het vriendelijke karakter is de sleutel tot een fijn gebruikspaard.
                </p>

                <br />
                <h2>
                    Veelzijdig gebruikspaard
                </h2>

                <p>
                    Halverwege vorige eeuw werd het Friese paard voornamelijk gebruikt als trekpaard op de boerenbedrijven. Tegenwoordig worden ze gehouden voor recreatie,
                    fokkerij en sport, vaak ook in combinatie met elkaar. Voornamelijk de dressuursport is zeer populair maar ook zeker in de men- en tuigsport is het Friese
                    paard te vinden. Tussen gebruiksdoel en exterieur bestaat een nauw verband.
                </p>

                <h2>
                    Functionele bouw
                </h2>

                <p>
                    Het paard dat werd gebruikt voor de landbouw was kortbeniger en compacter, met een onderstandig voorbeen en een brede borst. Met deze brede borst
                    kon het paard zich beter 'in het tuig' werpen en zo meer trekkracht ontwikkelen. Deze exterieurkenmerken zijn tegenwoordig minder functioneel voor
                    het rij-, tuig- of menpaard. Het zwaardere en kortbenige type komt nog wel voor omdat dit type jarenlang zo gefokt is en het meerdere generaties vergt
                    voordat dit uit het ras verdwijnt. Voor het rijden onder het zadel en voor de aangespannen sport is een functionele bouw heel belangrijk. Het paard
                    dient een opwaartse romprichting te hebben. Door deze opwaartse bouw komt de gewichtsverdeling in beweging meer op de achterhand, waardoor het paard
                    beter in staat is om te dragen met zijn achterhand. Voor een opwaartse bouw is een lang voorbeen van belang, maar ook de stand van het voorbeen. De
                    stand van het voorbeen is gekoppeld aan de schouder, waarbij een schuine en lange schouder het paard de ruimte geeft het voorbeen ver weg te zetten.
                </p>
                <p>
                    Het tuigpaard heeft vaak een iets meer verticale halsrichting dan het rij- en menpaard. Voor alle types geldt dat het paard soepel door het hele lichaam
                    moet bewegen, met een beweging die door een krachtige achterhand naar voren wordt overgebracht zodat het paard van voren kan rijzen, iets wat belangrijk
                    is voor zowel het rijden onder het zadel als het rijden voor de wagen. Voor een tuigpaard is veel knieactie gewenst (maar niet alleen, het moet gecombineerd
                    worden met veel ruimte en een dragende achterhand), terwijl voor een rijpaard en ook een menpaard, veel knieactie niet altijd gewaardeerd wordt.
                    Voor alle doeleinden zijn correcte beenstanden een 'must'.
                </p>

                <h2>
                    Het Friese sportpaard
                </h2>

                <p>
                    Het Friese paard heeft zich de laatste decennia steeds meer als sportpaard ontwikkeld, waarbij het in wezen weer terugkomt bij het type van vóór de
                    landbouwperiode toen de Fries een luxe en snittig koetspaard was. Door de eigen functionele eigenschappen van het ras kan het zich tegenwoordig tot
                    op het hoogste niveau meten met andere rassen. En natuurlijk heeft de Fries, door haar kenmerkende raseigenschappen, net even meer uitstraling!
                </p>
            </div>

        </div>

    </section>
</main>