@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

@{ ViewData["Title"] = "Home Page"; }
<header class="intro bg-image">
    <div class="overlay"></div>
    <div class="intro-content text-center">
        <div class="container">
            <h1 class="intro-title mb-2">BSFP</h1>
            <p class="intro-subtitle">@localizer["Belgisch Stamboek Van Het Fries Paard"]</p>
        </div>
    </div>

</header>

<main role="main" class="flex-shrink-0" style=" border-top: 6px solid #147e9e; box-shadow: 18px 18px 18px 0px #888888">
    <section class="container py-4">
        <div class="row mt-sm-3">
            <div class="col-sm-12 col-lg-6 pr-lg-5 mb-sm-3">
                <article>
                    <header>
                        <h2>Welkom</h2>
                    </header>
                    <p>
                        In België hebben de eigenaars van Friese paarden zich sinds 1985 verenigd in de vzw Belgisch Stamboek van het Friese Paard.
                        (BSFP) Op 10 september 1995 werd het Belgische stamboek officieel erkend als dochterstamboek van het Nederlandse moederstamboek
                        van het Friese paard. Het Belgische stamboek werd daarmee het eerste buitenlandse stamboek dat deze erkenning heeft gekregen.
                        Op 13 augustus 2007 is het stamboek ook officieel erkend door het Vlaamse Ministerie.
                    </p>
                    <p>
                        Het stamboek organiseert jaarlijks fokdagen waar de Friezen gekeurd en geprimeerd worden. Tijdens de wintermaanden organiseert
                        het BSFP info-avonden waar thema’s uit de fokkerij en sport grondig besproken worden.
                    </p>
                    <p>
                        Het stamboek is vanaf 2010 lid van de VLP en organiseert nu officiële dressuurwedstrijden speciaal voor Friese paarden.
                    </p>
                </article>
            </div>
            <div class="col-sm-12 col-lg-6 text-right mb-4 mb-sm-2 align-self-center">
                <img src="~/Images/Friesianhorse1.jpg" class="img-fluid" alt="">
            </div>
        </div>
        <div class="row mb-sm-3 mt-sm-4">
            <div class="col-sm-12 col-lg-6 order-lg-2">
                <article>
                    <header>
                        <h2>Het BSFP</h2>
                    </header>
                    <p>
                        In België hebben de eigenaars van Friese paarden zich sinds 1985 verenigd in de vzw Belgisch Stamboek van het Friese Paard.
                        (BSFP) Op 10 september 1995 werd het Belgische stamboek officieel erkend als dochterstamboek van het Nederlandse moederstamboek
                        van het Friese paard. Het Belgische stamboek werd daarmee het eerste buitenlandse stamboek dat deze erkenning heeft gekregen.
                        Op 13 augustus 2007 is het stamboek ook officieel erkend door het Vlaamse Ministerie.
                    </p>
                    <p>
                        Het stamboek organiseert jaarlijks fokdagen waar de Friezen gekeurd en geprimeerd worden. Tijdens de wintermaanden organiseert
                        het BSFP info-avonden waar thema’s uit de fokkerij en sport grondig besproken worden.
                    </p>
                    <p>
                        Het stamboek is vanaf 2010 lid van de VLP en organiseert nu officiële dressuurwedstrijden speciaal voor Friese paarden.
                    </p>
                </article>
            </div>
            <div class="video-container">
                <iframe id="video" src="https://www.youtube-nocookie.com/embed/Y5XJbSqwriM?rel=0" class="embed-responsive-item" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>

    </section>

    <section class="bg-image">
        <div class="overlay"></div>
        <div class="container py-4">
            <div class="row justify-content-center py-5">
                <div class="col-12 text-center my-2">
                    <header id=link-ser>
                        <h2 class="my-auto">
                            <a role="button" class="btn btn-lg btn-outline-light text-light bg-transparent" asp-area="" asp-controller="Product" asp-action="Index">Bekijk Agenda</a>
                        </h2>
                    </header>
                </div>
            </div>
        </div>
    </section>
</main>

