<header class="intro bg-image">
    <div class="overlay"></div>
    <div class="intro-content">
        <div class="container">
            <h1>JongBSFP</h1>
        </div>
    </div>

</header>

<main role="main" class="flex-shrink-0" style="border-top: 6px solid #147e9e">
    <section class="container py-4">
        <div class="row mt-sm-3">
            <div class="col-12">
                <p>
                    Het JongBSFP organiseert elk seizoen de BSFP trofee.<br />
                    Daarnaast organiseren ze ook gedurende het jaar leuke evenementen zoals clinics en wandeltochten.
                </p>

                <br />

                <p>
                    Kijk steeds in de agenda om geen enkel evenement te missen!<br />
                    Kon je er niet bij zijn? Kijk dan bij nieuws voor een verslag met foto's.
                </p>

                <br />

                <a href="www.jongbsfp-sbcfjeune.net">www.jongbsfp-sbcfjeune.net</a>

            </div>

        </div>

    </section>
</main>