@{
    ViewData["Title"] = "Uitgelogd";
}

<header class="intro bg-image">
    <div class="overlay"></div>
    <div class="intro-content">
        <div class="container">
            <h1>@ViewData["Title"]</h1>
        </div>
    </div>

</header>

<main role="main" class="flex-shrink-0" style="border-top: 6px solid #147e9e">
    <section class="container py-4 text-center">
            <h2>U bent succesvol uitgelogd!</h2>
            <h2>BSFP-SBCF wenst je nog een prettige dag!</h2>
    </section>
</main>
