@model BSFP.ViewModels.EditSponsorViewModel

@{
    ViewData["Title"] = "Edit";
}

<header class="intro bg-image">
    <div class="overlay"></div>
    <div class="intro-content">
        <div class="container">
            <h1>Sponsors</h1>
        </div>
    </div>

</header>

<main role="main" class="flex-shrink-0" style="border-top: 6px solid #147e9e">
    <section class="container py-4">
        <h4>Deze sponsor aanpassen?</h4>
        <hr />
        <div class="row">
            <div class="col-12">
                <form asp-action="Edit" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Sponsor.SponsorID" />
                    <div class="form-group">
                        <label asp-for="Sponsor.Titel_nl" class="control-label"></label>
                        <input asp-for="Sponsor.Titel_nl" class="form-control" />
                        <span asp-validation-for="Sponsor.Titel_nl" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Sponsor.Titel_fr" class="control-label"></label>
                        <input asp-for="Sponsor.Titel_fr" class="form-control" />
                        <span asp-validation-for="Sponsor.Titel_fr" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Sponsor.Omschrijving_nl" class="control-label"></label>
                        <textarea asp-for="Sponsor.Omschrijving_nl" class="form-control" cols="100" rows="14" placeholder="Geef extra info"></textarea>
                        <span asp-validation-for="Sponsor.Omschrijving_nl" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Sponsor.Omschrijving_fr" class="control-label"></label>
                        <textarea asp-for="Sponsor.Omschrijving_fr" class="form-control" cols="100" rows="14" placeholder="Geef extra info"></textarea>
                        <span asp-validation-for="Sponsor.Omschrijving_fr" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Sponsor.WebsiteLink" class="control-label"></label>
                        <input asp-for="Sponsor.WebsiteLink" class="form-control" />
                        <span asp-validation-for="Sponsor.WebsiteLink" class="text-danger"></span>
                    </div>
                    <div class="form-group col-5">
                        <label asp-for="Sponsor.File" class="control-label">Voeg een foto toe</label>
                        <input asp-for="Sponsor.File" class="form-control" accept="image/*" onchange="document.getElementById('DemoImage').src = window.URL.createObjectURL(this.files[0])" />
                        <img id="DemoImage" src="@Model.Sponsor.ImagePath" class="text-center" alt="" width="200" height="200" style="border:1px ;margin-top:20px; margin-left:120px;" />

                        <span asp-validation-for="Sponsor.File" class="text-danger"></span>
                    </div>
                    <div class="row">
                        <div class="form-group col-6">
                            <a class="btn btn-primary col-5" style="background-color: #caa500; border: 1px solid #1C3153; color:#1C3153; margin-bottom:5px" asp-action="Index">Terug</a>
                        </div>
                        <div class="form-group col-6 text-right">
                            <input type="submit" value="Opslaan" class="btn btn-primary col-5" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</main>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
