@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Bevestiging";
}

<header class="intro bg-image">
    <div class="overlay"></div>
    <div class="intro-content">
        <div class="container">
            <h1>@ViewData["Title"]</h1>
        </div>
    </div>

</header>
<main role="main" class="flex-shrink-0" style="border-top: 6px solid #147e9e">
    <section class="container py-4">
        <p>
            Controleer uw e-mail om uw wachtwoord opnieuw in te stellen.
        </p>
    </section>
</main>
