@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Wachtwoord is hersteld!";
}

<header class="intro bg-image">
    <div class="overlay"></div>
    <div class="intro-content">
        <div class="container">
            <h1>@ViewData["Title"]</h1>
        </div>
    </div>

</header>
<main role="main" class="flex-shrink-0" style="border-top: 6px solid #147e9e">
    <section class="container py-4">
        <p>
            Je wachtwoord is opnieuw ingesteld. <a asp-page="./Login">Klik hier om in te loggen</a>.
        </p>
    </section>
</main>
