@using Microsoft.AspNetCore.Identity
@using BSFP.Areas.Identity.Data
@inject SignInManager<CustomUser> SignInManager
@inject UserManager<CustomUser> UserManager

<ul class="navbar-nav  my-lg-0">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item dropdown">
            <a class="nav-link text-dark dropdown-toggle" href="#" id="navbarDropdownActueel" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Hello @User.Identity.Name!
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownActueel">
                <a class="dropdown-item text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Account</a>
                @if (User.IsInRole("Admin"))
                {
                    <a class="dropdown-item text-dark" asp-area="" asp-controller="Member" asp-action="Index">Ledenbeheer</a>
                }
                <a class="dropdown-item text-dark" asp-area="" asp-controller="Home" asp-action="Logout">Uitoggen</a>

            </div>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Registreren</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Inloggen</a>
        </li>
    }
</ul>
